
#title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	font-size: 3em;
	color: goldenrod;
	padding-bottom: 30px;
}

.names{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	color: goldenrod;
}

p {
	font-family: 'Open Sans', sans-serif;
}

#row{
	padding-bottom: 16px;
}

#col{
	padding: 16px;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 40px auto;
	background: rgba(22, 22, 22, 0.75);
	width: 100%;
	max-width: 960px;
	border-radius: 5px;
}

#colImg{
	margin-left: 32px;
		margin-right: 32px;
}

html {
	background: url("/Oved266Green/img/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.viewport {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 40px auto;
	background: rgba(22, 22, 22, 0.5);
	width: 100%;
	max-width: 960px;
	border-radius: 5px;
	padding: 32px;
}