@charset "ISO-8859-1";

html {
	background: url("/Oved266Green/img/background.jpg") no-repeat center
		center fixed;
	font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT",
		Calibri, "Trebuchet MS", sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.viewport {
		text-align: center;
		color: #fff;
		margin: 40px auto;
		background: rgba(22, 22, 22, 0.5);
		width: 100%;
		max-width: 600px;
		border-radius: 5px;
		padding: 32px;
		border: 1.5px outset #d76714;
	
}

input {
	
	background: rgba(22, 22, 22, 0.5);
	border: 1.5px outset whitesmoke;
	width: auto;
	color: whitesmoke;
}



/* } */
/* .labelForSign { */
/* 	color: #fff; */
/* } */
button {
	background-color: #18061e;
	border: 2px outset #d76714;
	color: #ffbd0a;
	padding: 6.5px 75px;
	/* 	text-align: center; */
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}