@charset "ISO-8859-1";

html {
	background: url("/Oved266Green/img/background.jpg") no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


form {
	margin: 75px; 
	background: rgba(22, 22, 22, 0.5);
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 95px;
	width: 350px;
	max-width: 350px;
	height: 300px;
	border: 1.5px solid black;
	border: 1.5px outset #d76714;
	border-radius: 5px;
	max-width: 400px;
}

#name {
	background: rgba(22, 22, 22, 0.5); width : auto;
	border: 1.5px outset whitesmoke;
	width: auto;
}

#password {
	background: rgba(22, 22, 22, 0.5); width : auto;
	border: 1.5px outset whitesmoke;
	width: auto;
}

.labelForSign {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

button {
	background-color: #18061e;
	border: 2px outset #d76714;
	color: #ffbd0a;
	padding: 6.5px 130px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#forget {
	font-family: 'Open Sans', sans-serif;
	margin-top: 15px;
}

#forget a:link, .link a:visited {
	color: #ffbd0a;
	text-decoration: #d76714;
	font-weight: lighter;
	font-size: 12.5px;
}

#forget a:hover, .link a:active {
	text-decoration: #d76714;
	color: #ffbd0a;
}

#forgetSomething {
	font-family: 'Open Sans', sans-serif;
	margin-left: 130px;
}